.jcarousel-container {
    background: white;
    width: 440px;
    height: 70px;
    padding: 5px 0 25px 0;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 0px;
}

.jcarousel-clip {
    width:  390px;
    height: 70px;
    margin: 0 auto;
}

.jcarousel-list {
	border: 0px solid darkgray;
    width:  150px;
    height: 70px;
    margin-top: 0px;
}

.jcarousel-list li {
    width: 55px;
    height:70px;
    margin-right: 5px;
    margin-left: 5px;
    
    
}


.jcarousel-list li img {
	padding: 2px;
	border: 1px solid darkgray !important;
}

.jcarousel-list li img:hover,
.jcarousel-list li .activecarouselimage {
	border: 2px solid #396 !important;
	padding: 1px;
}


.jcarousel-item-placeholder {
    background: #fff url(images/jcarousel_loading.gif) 50% 50% no-repeat;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-next-horizontal {
    position: absolute;
    top: 30px;
    right: -20px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(images/jcarousel_next.png) no-repeat -94px 0;
}

.jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-next-horizontal:active {
    background-position: -63px 0;
  }

.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: 0px 0;
}

.jcarousel-prev-horizontal {
    position: absolute;
    top: 30px;
    left: -20px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(images/jcarousel_prev.png) no-repeat 0 0;
}

.jcarousel-prev-horizontal:hover {
    background-position: -62px 0;
}

.jcarousel-prev-horizontal:active {
    background-position: -31px 0;
}

.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -94px 0;
}

